<div class="row list_view">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>
          <label>Filter: </label>
          <input type="checkbox" (click)="checkboxEvent($event)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of list; let i = index" id={{l._id}} (click)="itemDetails($event)">
        <td>{{i+1}}</td>
        <td>{{l.themeName}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>